// Place all the styles related to the babies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#baby_profile_section {
	float: right;
	clear: right;
	margin-right: 20px;
}